.Linechart{
    margin-top: 30px;
}
.lowhigh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* Add any other styles you want for the .lowhigh container */
  }
  .low ,.high ,.onebtc{
    display: flex;
    align-items: center;
    
  }
  .dot1, .dot2, .dot3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .dot1 {
    background-color:#ef2755; /* Set the color for dot1 */
    margin-right: 5px; /* Add some space between dot1 and the text */
  }
  
  .dot2 {
    background-color:#1dbf6f; /* Set the color for dot2 */
    margin-right: 5px; /* Add some space between dot2 and the text */
  }
  .dot3{
    background-color:#ffb031; /* Set the color for dot2 */
    margin-right: 5px;
  }
  .lowhigh p{
color: #9a9bb0;
  }