.body{
  font-family: 'SFProDisplay';
}

.App {
  
  background-color: #ebe7e7;
   /* Flexbox to center the card */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.buysell-cards-container {
  display: flex;
  justify-content: space-between;
}
